/* Mobile view  */

body {
  font-family: oswald, arial, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
  background: #ececf2;
  box-shadow: 0px 1px #00000075;
}

.logo {
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
}

nav,
#menu-check {
  display: none;
  width: 100%;
  text-align: center;
}

.fas {
  margin-top: 33px;
}

#menu-check:checked ~ nav {
  display: block;
}

nav a {
  display: block;
  color: #2b2b2b;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 10px 20px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

header {
  position: relative;
}

nav {
  position: absolute;
  background: #ececf2;
  z-index: 100;
  box-shadow: 0px 2px #8d8d8d75;
}

label {
  position: relative;
  float: right;
  margin-right: 15px;
  /* margin-top: 24px; */
}

/* Desktop */

@media (min-width: 845px) {
  /* Header/NAV */

  header {
    background-color: #ececf2;
    height: 140px;
    box-shadow: 0px 1px #00000075;
  }

  .header-content {
    display: inline-flex;
    width: 100%;
    align-items: center;
    height: 140px;
  }

  .logo {
    height: 100px;
    margin-left: 100px;
  }

  .navMenu {
    margin-top: 4.9rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }

  .menubar {
    text-decoration: none;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    right: 50px;
    width: 100%;
    justify-content: end;
  }

  label {
    display: none;
  }

  nav {
    background: none;
    z-index: 0;
  }
}

/* Main content  */

/* Mobile view  */

main {
  padding-bottom: 40px;
}

.background {
  background-image: url(/images/GLENNsvart40opacity.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.BG {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  background-color: #ececf2;
  width: 100vw;
  min-height: 50vh;
  margin-top: 80px;
  box-shadow: 0px 1px #00000075;
}

@media (min-width: 769px) {
  .BG {
    height: 100vh;
    overflow-y: scroll;
    /* width: 98.66vw; */
  }

  .main-content {
    background-color: #ececf2;
    width: 60vw;
    min-height: 72vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    border-radius: 30px;
  }
}

/* Footer  */

/* Mobile view  */

footer {
  width: 100%;
  background: #ececf2;
  height: 40px;
  position: fixed;
  bottom: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 42%;
}

.social-media {
  display: inline-flex;
}

.social-media a {
  padding: 7px;
}

.copyright {
  padding-top: 10px;
  font-weight: 200;
  font-size: 0.8rem;
  color: #525252;
}

/* Footer  */

/* Desktop View */

@media (min-width: 769px) {
  .content {
    padding-left: 48%;
  }

  .social-media {
    gap: 15px;
  }
}

/* Content - Home */

/* Mobile view */

.main-content-elements {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding-top: 13%;
}

.home-heading {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: oswald, Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 8%;
}

.home-info {
  font-size: 0.95rem;
  font-weight: 400;
  margin: 0 50px 50px 50px;
}

.home-cta {
  text-decoration: none;
  background-color: #1d1d36;
  color: #ececf2;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

/* Content - Home */

/* Mobile view */

@media (min-width: 769px) {
  .main-content-elements {
    padding-top: 1%;
  }

  .home-heading {
    font-size: 1.5rem;
  }

  .home-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: 1.09rem;
    /* margin-top: 3%; */
  }

  .home-cta {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    bottom: 20px;
  }
}

/* Content - About */

/* Mobile View */

.about-heading {
  text-align: center;
}

.about-content {
  align-items: center;
  margin: 1%;
}

.about-info {
  font-weight: 200;
}

.about-info-wrap {
  padding-top: 10%;
}

.about-text {
  font-weight: 300;
  margin: 15px;
}

/* Content - About */

/* Desktop View */

@media (min-width: 769px) {
  .about-content p {
    font-size: 1.05rem;
    padding: 0;
  }

  .about-info-wrap {
    padding-top: 6%;
    margin: 80px;
  }
}

/* Content - Contact */

/* Mobile and desktop View */

.contact-content {
  display: flex;
  gap: 2rem;
}

.contact-form-labels {
  display: block;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.contact-heading {
  text-align: center;
}

.contact-text {
  flex: 1;
}

.contact-send {
  background-color: #1d1d36;
  border: none;
  color: #ececf2;
  border-radius: 5px;
  min-height: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 4px;
}

/* Content - Contact-sent 

Mobile View  */

.contact-sent-info-wrap {
  display: grid;
  place-items: center;
  padding-top: 40%;
}

/* Content - Contact-sent 

Mobile View  */

@media (min-width: 769px) {
  .contact-sent-info-wrap {
    padding-top: 25%;
  }
}

/* Content - Games */

/* Mobile View */

.games-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.games-heading {
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding-top: 10px;
  text-align: center;
}

.games-cover {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.games-title {
  font-size: 0.5rem;
  margin: 0 auto;
}

.price {
  font-size: 0.65rem;
  font-weight: 200;
  margin: 0 auto;
}

#add-to-cart {
  font-size: 0.55rem;
  background-color: #f4a60d;
  color: #000000;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 6px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
  text-decoration: none;
}

/* Content - Games */

/* Desktop View */

@media (min-width: 769px) {
  .games-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }

  .game {
    margin: 20px;
  }

  #add-to-cart {
    bottom: 0;
    font-weight: 400;
    font-size: 0.6rem;
  }

  .games-title {
    font-size: 0.7rem;
  }
}

/* Content - Game Specific */

/* Mobile View */

.product-specific-content {
  margin: 15px;
}

.specific-heading {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 50px;
  padding-top: 10px;
}

.grid-container-specific {
  display: flex;
  margin: 15px;
  gap: 20px;
}

.product-specific-cover {
  max-height: 150px;
}

.specific-text {
  font-weight: 300;
  font-size: 0.7rem;
  margin: 0;
}

#add-to-cart-specific {
  font-size: 0.55rem;
  background-color: #f4a60d;
  color: #000000;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 6px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  text-decoration: none;
}

.specific-price {
  margin-top: 0;
  margin-bottom: 1px;
}

/* Content - Game Specific */

/* Desktop View */

@media (min-width: 769px) {
  .product-specific-cover {
    max-height: 200px;
  }

  .specific-text {
    font-size: 0.9rem;
    margin-right: 200px;
  }

  #add-to-cart-specific {
    font-size: 0.7rem;
  }

  .specific-price {
    margin-top: 62px;
  }

  .specific-heading {
    font-size: 1.5rem;
  }
}

/* Content - Full Cart */

/* Mobile View */

.full-cart-heading {
  text-align: center;
  padding-top: 15px;
}

.full-cart-game {
  display: flex;
  justify-content: space-between;
  margin: 15px 80px 5px 80px;
}

.shipping-container,
.subtotal-container,
.total-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 80px 5px 80px;
  font-weight: 300;
}

.full-cart-checkout {
  font-size: 0.8rem;
  background-color: #f4a60d;
  color: #000000;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 6px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.full-cart-text {
  display: grid;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.total {
  text-transform: uppercase;
}

/* Content - Full Cart */

/* Desktop View */

@media (min-width: 769px) {
  .shipping-container,
  .subtotal-container,
  .total-container,
  .full-cart-game {
    margin: 15px 180px 5px 180px;
  }

  .full-cart-text {
    margin-left: 300px;
    margin-right: 300px;
  }
}

/* Content - Empty Cart */

/* Mobile and desktop View */

.empty-cart-text {
  display: block;
  text-align: center;
  margin-top: 100px;
}

/* Content - Checkout success */

/* Mobile and desktop view */

.empty-cart-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.checkout-success {
  font-size: 1.25rem;
  font-weight: 500;
}

.Checkout-success-text {
  font-size: 1rem;
  font-weight: 300;
}

/* Global */

.hidden {
  display: none;
}
